* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/*  shared styles */
.primary-btn {
  border-radius: 5px;
  background: #fff;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  cursor: pointer;
}

/* header related styles */

.header {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}
.header-content {
  width: 50%;
  padding: 200px 230px 180px 0;
  margin: 0 0 0 auto;
}
.header-title {
  color: #fff;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
}
.header-description {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  max-width: 490px;
  margin: 0 0 0 auto;
  margin-top: 24px;
  margin-bottom: 30px;
}
/* .header-content .primary-btn{
    margin-right: 0 0 0 auto;
} */
.head-btn {
  display: flex;
  justify-content: right;
}

/* header bottom section style */
main {
  max-width: 1140px;
  margin: auto;
}
.check {
  color: green;
}
.second-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 134px;
  margin-top: 140px;
}
.second-section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
.second-section-description,
.second-section-item {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  margin-top: 24px;
}
.second-section-item li {
  margin-bottom: 10px;
  list-style: none;
}

/* My Plan related styles */

.my-plan-section-title {
  color: #151414;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.my-plan-section {
  margin: 130px 0;
}
.my-plan-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  align-items: center;
  text-align: center;
  gap: 100px;
}

.my-plan-title {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0;
}
.my-plan-description {
  color:  #737272;  
  font-size: 25px;
 

}
